/*
	Color scheme

	82B279 - mint green
	B7B3FF - pleasant purple
	61FF41 - neon green
	CC5F20 - orange
	B27F61 - burnt orange

*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
/* Page Header */
header {
	margin: 0 0 1em 0;
	padding: 1em 0 1em 2em;
	background-color: #3D64AC;
	background-image: url("../images/snowscape.jpg");
	background-size: cover;
}
header p {
	margin: 0;
	padding:0;
}
header h1 {
	font-weight: 600; 
	margin:0;
}
header .letterbox {
	display:block; 
}
header .lego {
	display:block;
	float:left;
	height: 120px;
	background-color: rgba(200,200,200,0.8); 
}
header .headline {
	vertical-align:middle;
	padding: 0.5em 1em 0;
}
/* Main List */
article .link-list {
	list-style-type: none;
}
article h2 {
	font-weight: normal;
	font-size: 18px;
}
article .link-list li {
	margin: 1em 0;
}
article .link-list .glyphicon {
	margin-right: .5em;
}
article .link-list .glyphicon { 
	color: #B27F61; 
}
article .tagline {

	font-style:italic;
	text-align:center; 
	margin-bottom: 2em;
}
/* Firewall configuration */
aside.reminder {
	font-size: 11px;
	z-index: -20;

	/*background-color: white;*/

	position: fixed; 
	bottom:0; 
	text-align:right;
	margin:0;
	padding:0 0 0 0.5em;
	width: 100%;

}
aside.reminder a {
	color: #999;
}
/* SVG background */
svg.svg-background {
	position:absolute;
	z-index: -10;
	/*border: 2px solid orangered;*/

}
svg.svg-background .big-circle {
	stroke: #B27F61;;
	stroke-width: 2px;
	fill: #82B279; 
}
/* Mobile breakpoints */
@media (max-width: 320px) {
    .header h1 {
    	font-size: 18px;
    }
    .header p {
    	font-size: 14px;
    }
}